
@{
    ViewData["Title"] = "CascadeDropdown";
}

<h1>CascadeDropdown</h1>
<div class="dropdown">
    <select id="country">
       <option>SelectCountry</option>
    </select>
     <select id="State">
       <option>SelectState</option>
    </select>
    <select id="City">
        <option>SelectCity</option>
    </select>
    <button type="submit">submit</button>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/site.js"></script>
<script src="~/js/Cascade.js"></script>

